In [27]:
import pandas as pd
from dotenv import load_dotenv
from helper import unzip_gz, zip_gz

pd.set_option('display.max_columns', None)

In [2]:
crop_df = unzip_gz("../data/clean_crop_27_v2.gz")
crop_df.head()

,COMMODITY_DESC,CLASS_DESC,PRODN_PRACTICE_DESC,STATISTICCAT_DESC,UNIT_DESC,SHORT_DESC,DOMAIN_DESC,DOMAINCAT_DESC,AGG_LEVEL_DESC,ASD_DESC,COUNTY_NAME,LOCATION_DESC,YEAR,FREQ_DESC,REFERENCE_PERIOD_DESC,WEEK_ENDING,VALUE
0,SOYBEANS,ALL CLASSES,ALL PRODUCTION PRACTICES,YIELD,BU / ACRE,"SOYBEANS - YIELD, MEASURED IN BU / ACRE",TOTAL,NOT SPECIFIED,COUNTY,SOUTHWEST,CASS,MICHIGAN,1972,ANNUAL,YEAR,NaN,23.1
1,SOYBEANS,ALL CLASSES,ALL PRODUCTION PRACTICES,STOCKS,BU,"SOYBEANS, ON FARM - STOCKS, MEASURED IN BU",TOTAL,NOT SPECIFIED,STATE,NaN,NaN,TENNESSEE,1965,POINT IN TIME,FIRST OF DEC,NaN,"2,236,000"
2,SUGARBEETS,ALL CLASSES,ALL PRODUCTION PRACTICES,SUCROSE,PCT,"SUGARBEETS - SUCROSE, MEASURED IN PCT",TOTAL,NOT SPECIFIED,COUNTY,NORTHWEST,PUTNAM,OHIO,1983,ANNUAL,YEAR,NaN,16.26
3,HAY,ALL CLASSES,ALL PRODUCTION PRACTICES,PRODUCTION,TONS,"HAY - PRODUCTION, MEASURED IN TONS",TOTAL,NOT SPECIFIED,COUNTY,NORTHWEST,ANDREW,MISSOURI,1992,ANNUAL,YEAR,NaN,"49,500"
4,CORN,ALL CLASSES,ALL PRODUCTION PRACTICES,PRODUCTION,TONS,"CORN, SILAGE - PRODUCTION, MEASURED IN TONS",TOTAL,NOT SPECIFIED,COUNTY,CENTRAL,CORTLAND,NEW YORK,1991,ANNUAL,YEAR,NaN,"184,200"

In [3]:
weather_df = pd.read_csv("../data/clean_weather_data.csv")
weather_df.head()

,state,year,Q1_cloud_cover.afternoon,Q2_cloud_cover.afternoon,Q3_cloud_cover.afternoon,Q4_cloud_cover.afternoon,Q1_humidity.afternoon,Q2_humidity.afternoon,Q3_humidity.afternoon,Q4_humidity.afternoon,...,Q4_temperature.night,Q1_wind.max.direction,Q2_wind.max.direction,Q3_wind.max.direction,Q4_wind.max.direction,Q1_wind.max.speed,Q2_wind.max.speed,Q3_wind.max.speed,Q4_wind.max.speed,is_future
0,Alabama,1980,75.735,44.480000,40.675000,52.151667,67.498333,55.990000,51.900000,50.010000,...,280.063333,242.193333,198.683333,188.051667,185.386667,5.151667,3.636667,3.155000,4.641667,0
1,Alabama,1981,47.528,65.207143,48.771667,35.768333,48.048000,45.842857,58.491667,64.810000,...,283.935000,221.754000,173.021429,183.100000,99.535000,4.818000,3.534286,2.866667,3.656667,0
2,Alabama,1982,75.294,52.621429,56.115000,71.518333,73.532000,61.824286,65.210000,69.565000,...,287.206667,222.838000,185.530000,131.945000,193.718333,4.676000,3.221429,3.026667,5.816667,0
3,Alabama,1983,72.450,53.022857,41.711667,49.433333,59.328000,57.222857,59.598333,64.446667,...,282.078333,186.388000,235.011429,151.050000,231.078333,3.550000,4.607143,3.500000,4.715000,0
4,Alabama,1984,33.130,61.528333,52.196667,58.903333,52.585000,54.216667,67.193333,60.461667,...,284.205000,260.798333,127.723333,127.528333,162.966667,3.146667,4.155000,2.831667,3.945000,0

In [4]:
print("Crop Data")
display(crop_df.info())
print("Weather Data")
display(weather_df.info())

Crop Data
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14880565 entries, 0 to 14880564
Data columns (total 17 columns):
 #   Column                 Dtype
---  ------                 -----
 0   COMMODITY_DESC         object
 1   CLASS_DESC             object
 2   PRODN_PRACTICE_DESC    object
 3   STATISTICCAT_DESC      object
 4   UNIT_DESC              object
 5   SHORT_DESC             object
 6   DOMAIN_DESC            object
 7   DOMAINCAT_DESC         object
 8   AGG_LEVEL_DESC         object
 9   ASD_DESC               object
 10  COUNTY_NAME            object
 11  LOCATION_DESC          object
 12  YEAR                   int64
 13  FREQ_DESC              object
 14  REFERENCE_PERIOD_DESC  object
 15  WEEK_ENDING            object
 16  VALUE                  object
dtypes: int64(1), object(16)
memory usage: 1.9+ GB

None

Weather Data
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2250 entries, 0 to 2249
Data columns (total 51 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   state                     2250 non-null   object
 1   year                      2250 non-null   int64
 2   Q1_cloud_cover.afternoon  2250 non-null   float64
 3   Q2_cloud_cover.afternoon  2250 non-null   float64
 4   Q3_cloud_cover.afternoon  2250 non-null   float64
 5   Q4_cloud_cover.afternoon  2250 non-null   float64
 6   Q1_humidity.afternoon     2250 non-null   float64
 7   Q2_humidity.afternoon     2250 non-null   float64
 8   Q3_humidity.afternoon     2250 non-null   float64
 9   Q4_humidity.afternoon     2250 non-null   float64
 10  Q1_precipitation.total    2250 non-null   float64
 11  Q2_precipitation.total    2250 non-null   float64
 12  Q3_precipitation.total    2250 non-null   float64
 13  Q4_precipitation.total    2250 non-null   float64
 14  Q1_pressure.afternoon     2250 non-null   float64
 15  Q2_pressure.afternoon     2250 non-null   float64
 16  Q3_pressure.afternoon     2250 non-null   float64
 17  Q4_pressure.afternoon     2250 non-null   float64
 18  Q1_temperature.afternoon  2250 non-null   float64
 19  Q2_temperature.afternoon  2250 non-null   float64
 20  Q3_temperature.afternoon  2250 non-null   float64
 21  Q4_temperature.afternoon  2250 non-null   float64
 22  Q1_temperature.evening    2250 non-null   float64
 23  Q2_temperature.evening    2250 non-null   float64
 24  Q3_temperature.evening    2250 non-null   float64
 25  Q4_temperature.evening    2250 non-null   float64
 26  Q1_temperature.max        2250 non-null   float64
 27  Q2_temperature.max        2250 non-null   float64
 28  Q3_temperature.max        2250 non-null   float64
 29  Q4_temperature.max        2250 non-null   float64
 30  Q1_temperature.min        2250 non-null   float64
 31  Q2_temperature.min        2250 non-null   float64
 32  Q3_temperature.min        2250 non-null   float64
 33  Q4_temperature.min        2250 non-null   float64
 34  Q1_temperature.morning    2250 non-null   float64
 35  Q2_temperature.morning    2250 non-null   float64
 36  Q3_temperature.morning    2250 non-null   float64
 37  Q4_temperature.morning    2250 non-null   float64
 38  Q1_temperature.night      2250 non-null   float64
 39  Q2_temperature.night      2250 non-null   float64
 40  Q3_temperature.night      2250 non-null   float64
 41  Q4_temperature.night      2250 non-null   float64
 42  Q1_wind.max.direction     2250 non-null   float64
 43  Q2_wind.max.direction     2250 non-null   float64
 44  Q3_wind.max.direction     2250 non-null   float64
 45  Q4_wind.max.direction     2250 non-null   float64
 46  Q1_wind.max.speed         2250 non-null   float64
 47  Q2_wind.max.speed         2250 non-null   float64
 48  Q3_wind.max.speed         2250 non-null   float64
 49  Q4_wind.max.speed         2250 non-null   float64
 50  is_future                 2250 non-null   int64
dtypes: float64(48), int64(2), object(1)
memory usage: 896.6+ KB

None

In [5]:
weather_df['state'] = weather_df['state'].str.upper()
weather_df['state'].value_counts()

state
ALABAMA           45
PENNSYLVANIA      45
NEVADA            45
NEW HAMPSHIRE     45
NEW JERSEY        45
NEW MEXICO        45
NEW YORK          45
NORTH CAROLINA    45
NORTH DAKOTA      45
OHIO              45
OKLAHOMA          45
OREGON            45
RHODE ISLAND      45
ALASKA            45
SOUTH CAROLINA    45
SOUTH DAKOTA      45
TENNESSEE         45
TEXAS             45
UTAH              45
VERMONT           45
VIRGINIA          45
WASHINGTON        45
WEST VIRGINIA     45
WISCONSIN         45
NEBRASKA          45
MONTANA           45
MISSOURI          45
MISSISSIPPI       45
ARIZONA           45
ARKANSAS          45
CALIFORNIA        45
COLORADO          45
CONNECTICUT       45
DELAWARE          45
FLORIDA           45
GEORGIA           45
HAWAII            45
IDAHO             45
ILLINOIS          45
INDIANA           45
IOWA              45
KANSAS            45
KENTUCKY          45
LOUISIANA         45
MAINE             45
MARYLAND          45
MASSACHUSETTS     45
MICHIGAN          45
MINNESOTA         45
WYOMING           45
Name: count, dtype: int64

In [6]:
crop_df['LOCATION_DESC'].value_counts()

LOCATION_DESC
TEXAS             936824
NEBRASKA          718108
KANSAS            649006
NORTH DAKOTA      590836
MONTANA           574100
SOUTH DAKOTA      533799
VIRGINIA          478902
COLORADO          459704
MINNESOTA         448424
NORTH CAROLINA    448143
GEORGIA           446910
OKLAHOMA          435026
MISSOURI          407643
CALIFORNIA        365992
MICHIGAN          365078
WISCONSIN         362380
ILLINOIS          359969
IDAHO             340554
KENTUCKY          340046
PENNSYLVANIA      333179
US TOTAL          326818
OHIO              325983
IOWA              309488
TENNESSEE         303732
INDIANA           302991
ARKANSAS          291968
OREGON            288800
MISSISSIPPI       284408
WASHINGTON        273719
NEW YORK          250254
ALABAMA           246801
LOUISIANA         231420
SOUTH CAROLINA    224377
WYOMING           220076
NEW MEXICO        199458
UTAH              164047
MARYLAND          148256
FLORIDA           147628
ARIZONA           127772
NEW JERSEY        110601
DELAWARE           84462
MAINE              74390
MASSACHUSETTS      60528
VERMONT            56371
CONNECTICUT        52261
NEW HAMPSHIRE      50465
NEVADA             46165
RHODE ISLAND       38615
OTHER STATES       16078
ALASKA             12873
HAWAII             12629
WEST VIRGINIA       2508
Name: count, dtype: int64

In [7]:
crop_df = crop_df[~crop_df['LOCATION_DESC'].str.contains('OTHER STATES|US TOTAL', case=False, na=False)]
crop_df['LOCATION_DESC'].value_counts()

LOCATION_DESC
TEXAS             936824
NEBRASKA          718108
KANSAS            649006
NORTH DAKOTA      590836
MONTANA           574100
SOUTH DAKOTA      533799
VIRGINIA          478902
COLORADO          459704
MINNESOTA         448424
NORTH CAROLINA    448143
GEORGIA           446910
OKLAHOMA          435026
MISSOURI          407643
CALIFORNIA        365992
MICHIGAN          365078
WISCONSIN         362380
ILLINOIS          359969
IDAHO             340554
KENTUCKY          340046
PENNSYLVANIA      333179
OHIO              325983
IOWA              309488
TENNESSEE         303732
INDIANA           302991
ARKANSAS          291968
OREGON            288800
MISSISSIPPI       284408
WASHINGTON        273719
NEW YORK          250254
ALABAMA           246801
LOUISIANA         231420
SOUTH CAROLINA    224377
WYOMING           220076
NEW MEXICO        199458
UTAH              164047
MARYLAND          148256
FLORIDA           147628
ARIZONA           127772
NEW JERSEY        110601
DELAWARE           84462
MAINE              74390
MASSACHUSETTS      60528
VERMONT            56371
CONNECTICUT        52261
NEW HAMPSHIRE      50465
NEVADA             46165
RHODE ISLAND       38615
ALASKA             12873
HAWAII             12629
WEST VIRGINIA       2508
Name: count, dtype: int64

In [8]:
crop_df = crop_df[(crop_df['FREQ_DESC'] == 'ANNUAL') & (crop_df['REFERENCE_PERIOD_DESC'] == 'YEAR') & (crop_df['DOMAINCAT_DESC'] == "NOT SPECIFIED")]

In [9]:
crop_df

,COMMODITY_DESC,CLASS_DESC,PRODN_PRACTICE_DESC,STATISTICCAT_DESC,UNIT_DESC,SHORT_DESC,DOMAIN_DESC,DOMAINCAT_DESC,AGG_LEVEL_DESC,ASD_DESC,COUNTY_NAME,LOCATION_DESC,YEAR,FREQ_DESC,REFERENCE_PERIOD_DESC,WEEK_ENDING,VALUE
0,SOYBEANS,ALL CLASSES,ALL PRODUCTION PRACTICES,YIELD,BU / ACRE,"SOYBEANS - YIELD, MEASURED IN BU / ACRE",TOTAL,NOT SPECIFIED,COUNTY,SOUTHWEST,CASS,MICHIGAN,1972,ANNUAL,YEAR,NaN,23.1
2,SUGARBEETS,ALL CLASSES,ALL PRODUCTION PRACTICES,SUCROSE,PCT,"SUGARBEETS - SUCROSE, MEASURED IN PCT",TOTAL,NOT SPECIFIED,COUNTY,NORTHWEST,PUTNAM,OHIO,1983,ANNUAL,YEAR,NaN,16.26
3,HAY,ALL CLASSES,ALL PRODUCTION PRACTICES,PRODUCTION,TONS,"HAY - PRODUCTION, MEASURED IN TONS",TOTAL,NOT SPECIFIED,COUNTY,NORTHWEST,ANDREW,MISSOURI,1992,ANNUAL,YEAR,NaN,"49,500"
4,CORN,ALL CLASSES,ALL PRODUCTION PRACTICES,PRODUCTION,TONS,"CORN, SILAGE - PRODUCTION, MEASURED IN TONS",TOTAL,NOT SPECIFIED,COUNTY,CENTRAL,CORTLAND,NEW YORK,1991,ANNUAL,YEAR,NaN,"184,200"
5,HAY,ALFALFA,ALL PRODUCTION PRACTICES,YIELD,TONS / ACRE,"HAY, ALFALFA - YIELD, MEASURED IN TONS / ACRE",TOTAL,NOT SPECIFIED,COUNTY,NORTHWEST,DEUEL,NEBRASKA,1965,ANNUAL,YEAR,NaN,2.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14880358,SOYBEANS,ALL CLASSES,ALL PRODUCTION PRACTICES,AREA HARVESTED,ACRES,SOYBEANS - ACRES HARVESTED,TOTAL,NOT SPECIFIED,STATE,NaN,NaN,OKLAHOMA,2024,ANNUAL,YEAR,NaN,"455,000"
14880380,WHEAT,ALL CLASSES,ALL PRODUCTION PRACTICES,AREA HARVESTED,OPERATIONS,WHEAT - OPERATIONS WITH AREA HARVESTED,TOTAL,NOT SPECIFIED,AMERICAN INDIAN RESERVATION,NaN,NaN,WISCONSIN,2022,ANNUAL,YEAR,NaN,13
14880388,PEACHES,ALL CLASSES,ALL PRODUCTION PRACTICES,PRODUCTION,TONS,"PEACHES - PRODUCTION, MEASURED IN TONS",TOTAL,NOT SPECIFIED,STATE,NaN,NaN,COLORADO,2024,ANNUAL,YEAR,NaN,"12,000"
14880413,SUNFLOWER,ALL CLASSES,ALL PRODUCTION PRACTICES,AREA PLANTED,ACRES,SUNFLOWER - ACRES PLANTED,TOTAL,NOT SPECIFIED,STATE,NaN,NaN,KANSAS,2024,ANNUAL,YEAR,NaN,"26,000"
14880524,PEARS,ALL CLASSES,ALL PRODUCTION PRACTICES,PRODUCTION,TONS,"PEARS - PRODUCTION, MEASURED IN TONS",TOTAL,NOT SPECIFIED,STATE,NaN,NaN,WASHINGTON,2024,ANNUAL,YEAR,NaN,"185,000"

In [10]:
crop_df['COMMODITY_DESC'].value_counts()

COMMODITY_DESC
WHEAT             2779167
CORN              1227535
HAY               1212235
SOYBEANS           639534
BARLEY             542590
SORGHUM            512214
OATS               483846
COTTON             322760
BEANS              217569
POTATOES           151872
TOBACCO            135283
SUNFLOWER          119076
RYE                 91032
PEANUTS             86292
TOMATOES            84721
SQUASH              84523
MELONS              84152
PEACHES             83475
PEAS                81501
PEARS               79486
PECANS              76614
LETTUCE             72819
SWEET CORN          72047
PEPPERS             70976
APPLES              69871
BLUEBERRIES         65083
GRAPES              57351
SUGARBEETS          53567
ONIONS              50073
CUCUMBERS           47301
CHERRIES            46182
RICE                45824
CABBAGE             44996
RASPBERRIES         40936
PUMPKINS            40169
STRAWBERRIES        38766
BLACKBERRIES        35338
PLUMS & PRUNES      33682
SWEET POTATOES      29898
CARROTS             23397
BROCCOLI            23368
BEETS               23146
EGGPLANT            21574
ASPARAGUS           21315
GARLIC              20986
SPINACH             17796
ORANGES             16221
APRICOTS            14718
CAULIFLOWER         14150
SUGARCANE           11073
GRAPEFRUIT           5069
LEMONS               4286
Name: count, dtype: int64

In [11]:
crop_df = crop_df.drop(columns=['AGG_LEVEL_DESC', 'ASD_DESC', 'COUNTY_NAME', 'WEEK_ENDING',
                                'FREQ_DESC', 'REFERENCE_PERIOD_DESC', 'DOMAINCAT_DESC',
                                'PRODN_PRACTICE_DESC', 'CLASS_DESC', 'DOMAIN_DESC'])
crop_df

,COMMODITY_DESC,STATISTICCAT_DESC,UNIT_DESC,SHORT_DESC,LOCATION_DESC,YEAR,VALUE
0,SOYBEANS,YIELD,BU / ACRE,"SOYBEANS - YIELD, MEASURED IN BU / ACRE",MICHIGAN,1972,23.1
2,SUGARBEETS,SUCROSE,PCT,"SUGARBEETS - SUCROSE, MEASURED IN PCT",OHIO,1983,16.26
3,HAY,PRODUCTION,TONS,"HAY - PRODUCTION, MEASURED IN TONS",MISSOURI,1992,"49,500"
4,CORN,PRODUCTION,TONS,"CORN, SILAGE - PRODUCTION, MEASURED IN TONS",NEW YORK,1991,"184,200"
5,HAY,YIELD,TONS / ACRE,"HAY, ALFALFA - YIELD, MEASURED IN TONS / ACRE",NEBRASKA,1965,2.88
...,...,...,...,...,...,...,...
14880358,SOYBEANS,AREA HARVESTED,ACRES,SOYBEANS - ACRES HARVESTED,OKLAHOMA,2024,"455,000"
14880380,WHEAT,AREA HARVESTED,OPERATIONS,WHEAT - OPERATIONS WITH AREA HARVESTED,WISCONSIN,2022,13
14880388,PEACHES,PRODUCTION,TONS,"PEACHES - PRODUCTION, MEASURED IN TONS",COLORADO,2024,"12,000"
14880413,SUNFLOWER,AREA PLANTED,ACRES,SUNFLOWER - ACRES PLANTED,KANSAS,2024,"26,000"
14880524,PEARS,PRODUCTION,TONS,"PEARS - PRODUCTION, MEASURED IN TONS",WASHINGTON,2024,"185,000"

In [15]:
merged_df = pd.merge(
    crop_df,
    weather_df,
    left_on=['LOCATION_DESC', 'YEAR'],
    right_on=['state', 'year'],
    how='right'
)

merged_df

,COMMODITY_DESC,STATISTICCAT_DESC,UNIT_DESC,SHORT_DESC,LOCATION_DESC,YEAR,VALUE,state,year,Q1_cloud_cover.afternoon,...,Q4_temperature.night,Q1_wind.max.direction,Q2_wind.max.direction,Q3_wind.max.direction,Q4_wind.max.direction,Q1_wind.max.speed,Q2_wind.max.speed,Q3_wind.max.speed,Q4_wind.max.speed,is_future
0,COTTON,AREA PLANTED,ACRES,"COTTON, UPLAND - ACRES PLANTED",ALABAMA,1980.0,"1,500",ALABAMA,1980,75.735000,...,280.063333,242.193333,198.683333,188.051667,185.386667,5.151667,3.636667,3.155,4.641667,0
1,COTTON,AREA PLANTED,ACRES,"COTTON, UPLAND - ACRES PLANTED",ALABAMA,1980.0,"5,600",ALABAMA,1980,75.735000,...,280.063333,242.193333,198.683333,188.051667,185.386667,5.151667,3.636667,3.155,4.641667,0
2,COTTON,YIELD,LB / ACRE,"COTTON, UPLAND - YIELD, MEASURED IN LB / ACRE",ALABAMA,1980.0,393,ALABAMA,1980,75.735000,...,280.063333,242.193333,198.683333,188.051667,185.386667,5.151667,3.636667,3.155,4.641667,0
3,CORN,AREA PLANTED,ACRES,CORN - ACRES PLANTED,ALABAMA,1980.0,"39,700",ALABAMA,1980,75.735000,...,280.063333,242.193333,198.683333,188.051667,185.386667,5.151667,3.636667,3.155,4.641667,0
4,CORN,YIELD,BU / ACRE,"CORN, GRAIN - YIELD, MEASURED IN BU / ACRE",ALABAMA,1980.0,17.6,ALABAMA,1980,75.735000,...,280.063333,242.193333,198.683333,188.051667,185.386667,5.151667,3.636667,3.155,4.641667,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7704492,WHEAT,AREA PLANTED,ACRES,"WHEAT, WINTER - ACRES PLANTED",WYOMING,2024.0,"110,000",WYOMING,2024,53.333333,...,-1.000000,255.666667,174.000000,-1.000000,-1.000000,4.370000,3.206667,-1.000,-1.000000,1
7704493,BARLEY,YIELD,BU / ACRE,"BARLEY - YIELD, MEASURED IN BU / ACRE",WYOMING,2024.0,103,WYOMING,2024,53.333333,...,-1.000000,255.666667,174.000000,-1.000000,-1.000000,4.370000,3.206667,-1.000,-1.000000,1
7704494,WHEAT,AREA HARVESTED,ACRES,WHEAT - ACRES HARVESTED,WYOMING,2024.0,"80,000",WYOMING,2024,53.333333,...,-1.000000,255.666667,174.000000,-1.000000,-1.000000,4.370000,3.206667,-1.000,-1.000000,1
7704495,WHEAT,AREA HARVESTED,ACRES,"WHEAT, WINTER - ACRES HARVESTED",WYOMING,2024.0,"80,000",WYOMING,2024,53.333333,...,-1.000000,255.666667,174.000000,-1.000000,-1.000000,4.370000,3.206667,-1.000,-1.000000,1
7704496,HAY,YIELD,TONS / ACRE,"HAY, ALFALFA - YIELD, MEASURED IN TONS / ACRE",WYOMING,2024.0,2.9,WYOMING,2024,53.333333,...,-1.000000,255.666667,174.000000,-1.000000,-1.000000,4.370000,3.206667,-1.000,-1.000000,1

In [33]:
merged_df['SHORT_DESC'].value_counts()

SHORT_DESC
CORN, GRAIN - ACRES HARVESTED                                                 117548
CORN, GRAIN - PRODUCTION, MEASURED IN BU                                      117538
CORN - ACRES PLANTED                                                          104351
WHEAT, WINTER - ACRES HARVESTED                                               103397
WHEAT, WINTER - PRODUCTION, MEASURED IN BU                                    103389
                                                                               ...
GRAPEFRUIT, WHITE SEEDLESS - PRODUCTION, MEASURED IN $, ON TREE EQUIV              1
GRAPEFRUIT, RED SEEDLESS - PRODUCTION, MEASURED IN $, ON TREE EQUIV                1
POTATOES, FALL, RUSSET, TETON - AREA PLANTED, MEASURED IN PCT BY TYPE              1
POTATOES, FALL, RED, RED PONTIAC - AREA PLANTED, MEASURED IN PCT BY TYPE           1
POTATOES, FALL, YELLOW, YUKON GOLD - AREA PLANTED, MEASURED IN PCT BY TYPE         1
Name: count, Length: 2668, dtype: int64

In [32]:
merged_df

,COMMODITY_DESC,STATISTICCAT_DESC,UNIT_DESC,SHORT_DESC,LOCATION_DESC,YEAR,VALUE,state,year,Q1_cloud_cover.afternoon,Q2_cloud_cover.afternoon,Q3_cloud_cover.afternoon,Q4_cloud_cover.afternoon,Q1_humidity.afternoon,Q2_humidity.afternoon,Q3_humidity.afternoon,Q4_humidity.afternoon,Q1_precipitation.total,Q2_precipitation.total,Q3_precipitation.total,Q4_precipitation.total,Q1_pressure.afternoon,Q2_pressure.afternoon,Q3_pressure.afternoon,Q4_pressure.afternoon,Q1_temperature.afternoon,Q2_temperature.afternoon,Q3_temperature.afternoon,Q4_temperature.afternoon,Q1_temperature.evening,Q2_temperature.evening,Q3_temperature.evening,Q4_temperature.evening,Q1_temperature.max,Q2_temperature.max,Q3_temperature.max,Q4_temperature.max,Q1_temperature.min,Q2_temperature.min,Q3_temperature.min,Q4_temperature.min,Q1_temperature.morning,Q2_temperature.morning,Q3_temperature.morning,Q4_temperature.morning,Q1_temperature.night,Q2_temperature.night,Q3_temperature.night,Q4_temperature.night,Q1_wind.max.direction,Q2_wind.max.direction,Q3_wind.max.direction,Q4_wind.max.direction,Q1_wind.max.speed,Q2_wind.max.speed,Q3_wind.max.speed,Q4_wind.max.speed,is_future
0,COTTON,AREA PLANTED,ACRES,"COTTON, UPLAND - ACRES PLANTED",ALABAMA,1980.0,"1,500",ALABAMA,1980,75.735000,44.480000,40.675,52.151667,67.498333,55.99,51.9,50.01,7.91,0.521667,0.72,8.493333,1018.783333,1015.763333,1017.626667,1021.67,286.361667,298.500000,304.888333,286.173333,282.753333,297.846667,302.831667,283.713333,289.098333,300.225000,306.12,287.851667,277.080000,289.003333,294.598333,278.066667,279.715000,289.506667,294.663333,278.71,283.133333,290.676667,297.231667,280.063333,242.193333,198.683333,188.051667,185.386667,5.151667,3.636667,3.155,4.641667,0
1,COTTON,AREA PLANTED,ACRES,"COTTON, UPLAND - ACRES PLANTED",ALABAMA,1980.0,"5,600",ALABAMA,1980,75.735000,44.480000,40.675,52.151667,67.498333,55.99,51.9,50.01,7.91,0.521667,0.72,8.493333,1018.783333,1015.763333,1017.626667,1021.67,286.361667,298.500000,304.888333,286.173333,282.753333,297.846667,302.831667,283.713333,289.098333,300.225000,306.12,287.851667,277.080000,289.003333,294.598333,278.066667,279.715000,289.506667,294.663333,278.71,283.133333,290.676667,297.231667,280.063333,242.193333,198.683333,188.051667,185.386667,5.151667,3.636667,3.155,4.641667,0
2,COTTON,YIELD,LB / ACRE,"COTTON, UPLAND - YIELD, MEASURED IN LB / ACRE",ALABAMA,1980.0,393,ALABAMA,1980,75.735000,44.480000,40.675,52.151667,67.498333,55.99,51.9,50.01,7.91,0.521667,0.72,8.493333,1018.783333,1015.763333,1017.626667,1021.67,286.361667,298.500000,304.888333,286.173333,282.753333,297.846667,302.831667,283.713333,289.098333,300.225000,306.12,287.851667,277.080000,289.003333,294.598333,278.066667,279.715000,289.506667,294.663333,278.71,283.133333,290.676667,297.231667,280.063333,242.193333,198.683333,188.051667,185.386667,5.151667,3.636667,3.155,4.641667,0
3,CORN,AREA PLANTED,ACRES,CORN - ACRES PLANTED,ALABAMA,1980.0,"39,700",ALABAMA,1980,75.735000,44.480000,40.675,52.151667,67.498333,55.99,51.9,50.01,7.91,0.521667,0.72,8.493333,1018.783333,1015.763333,1017.626667,1021.67,286.361667,298.500000,304.888333,286.173333,282.753333,297.846667,302.831667,283.713333,289.098333,300.225000,306.12,287.851667,277.080000,289.003333,294.598333,278.066667,279.715000,289.506667,294.663333,278.71,283.133333,290.676667,297.231667,280.063333,242.193333,198.683333,188.051667,185.386667,5.151667,3.636667,3.155,4.641667,0
4,CORN,YIELD,BU / ACRE,"CORN, GRAIN - YIELD, MEASURED IN BU / ACRE",ALABAMA,1980.0,17.6,ALABAMA,1980,75.735000,44.480000,40.675,52.151667,67.498333,55.99,51.9,50.01,7.91,0.521667,0.72,8.493333,1018.783333,1015.763333,1017.626667,1021.67,286.361667,298.500000,304.888333,286.173333,282.753333,297.846667,302.831667,283.713333,289.098333,300.225000,306.12,287.851667,277.080000,289.003333,294.598333,278.066667,279.715000,289.506667,294.663333,278.71,283.133333,290.676667,297.231667,280.063333,242.193333,198.683333,188.051667,185.386667,5.151667,3.636667,3.155,4.641667,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7704492,WHEAT,AREA PLANTED,ACRES,"WHEAT, WINTER - ACRES PLANTED",WYOMING,2024.0,"110,000",WYOMING,2024,53.333333,56.666667,-1.000,-1.000000,69.000000,66.50,-1.0,-1.00,4.71,0.596667,-1.00,-1.000000,1018.000000,1014.666667,-1.000000,-1.00,285.496667,299.986667,-1.000000,-1.000000,284.585000,301.318333,-1.000000,-1.000000,287.858333,302.458333,-1.00,-1.000000,278.761667,291.816667,-1.000000,-1.000000,280.256667,292.000000,-1.000000,-1.00,282.163333,294.275000,-1.000000,-1.000000,255.666667,174.000000,-1.000000,-1.000000,4.370000,3.206667,-1.000,-1.000000,1
7704493,BARLEY,YIELD,BU / ACRE,"BARLEY - YIELD, MEASURED IN BU / ACRE",WYOMING,2024.0,103,WYOMING,2024,53.333333,56.666667,-1.000,-1.000000,69.000000,66.50,-1.0,-1.00,4.71,0.596667,-1.00,-1.000000,1018.000000,1014.666667,-1.000000,-1.00,285.496667,299.986667,-1.000000,-1.000000,284.585000,301.318333,-1.000000,-1.000000,287.858333,302.458333,-1.00,-1.000000,278.761667,291.816667,-1.000000,-1.000000,280.256667,292.000000,-1.000000,-1.00,282.163333,294.275000,-1.000000,-1.000000,255.666667,174.000000,-1.000000,-1.000000,4.370000,3.206667,-1.000,-1.000000,1
7704494,WHEAT,AREA HARVESTED,ACRES,WHEAT - ACRES HARVESTED,WYOMING,2024.0,"80,000",WYOMING,2024,53.333333,56.666667,-1.000,-1.000000,69.000000,66.50,-1.0,-1.00,4.71,0.596667,-1.00,-1.000000,1018.000000,1014.666667,-1.000000,-1.00,285.496667,299.986667,-1.000000,-1.000000,284.585000,301.318333,-1.000000,-1.000000,287.858333,302.458333,-1.00,-1.000000,278.761667,291.816667,-1.000000,-1.000000,280.256667,292.000000,-1.000000,-1.00,282.163333,294.275000,-1.000000,-1.000000,255.666667,174.000000,-1.000000,-1.000000,4.370000,3.206667,-1.000,-1.000000,1
7704495,WHEAT,AREA HARVESTED,ACRES,"WHEAT, WINTER - ACRES HARVESTED",WYOMING,2024.0,"80,000",WYOMING,2024,53.333333,56.666667,-1.000,-1.000000,69.000000,66.50,-1.0,-1.00,4.71,0.596667,-1.00,-1.000000,1018.000000,1014.666667,-1.000000,-1.00,285.496667,299.986667,-1.000000,-1.000000,284.585000,301.318333,-1.000000,-1.000000,287.858333,302.458333,-1.00,-1.000000,278.761667,291.816667,-1.000000,-1.000000,280.256667,292.000000,-1.000000,-1.00,282.163333,294.275000,-1.000000,-1.000000,255.666667,174.000000,-1.000000,-1.000000,4.370000,3.206667,-1.000,-1.000000,1
7704496,HAY,YIELD,TONS / ACRE,"HAY, ALFALFA - YIELD, MEASURED IN TONS / ACRE",WYOMING,2024.0,2.9,WYOMING,2024,53.333333,56.666667,-1.000,-1.000000,69.000000,66.50,-1.0,-1.00,4.71,0.596667,-1.00,-1.000000,1018.000000,1014.666667,-1.000000,-1.00,285.496667,299.986667,-1.000000,-1.000000,284.585000,301.318333,-1.000000,-1.000000,287.858333,302.458333,-1.00,-1.000000,278.761667,291.816667,-1.000000,-1.000000,280.256667,292.000000,-1.000000,-1.00,282.163333,294.275000,-1.000000,-1.000000,255.666667,174.000000,-1.000000,-1.000000,4.370000,3.206667,-1.000,-1.000000,1

In [31]:
merged_df['UNIT_DESC'].value_counts()

UNIT_DESC
ACRES                      3323767
OPERATIONS                 1310344
BU                          862442
BU / ACRE                   779446
TONS                        392215
TONS / ACRE                 293244
BU / NET PLANTED ACRE       234502
LB / ACRE                   132680
$                            95673
LB                           78606
CWT                          70830
480 LB BALES                 41395
LB / NET PLANTED ACRE        22826
CWT / ACRE                   20420
PCT                           8333
BALES                         7315
SQ FT                         6627
PCT BY TYPE                   4992
$ / CWT                       3079
$, PHD EQUIV                  2350
PCT BY GRADE                  1519
BU / PLANTED ACRE             1378
PCT OF FARM SALES             1138
TONS / NET PLANTED ACRE       1127
BOXES                         1095
ACRE FEET / ACRE               889
PCT OF FARM OPERATIONS         835
BOXES / ACRE                   833
GALLONS                        628
$ / TON                        593
BALES / ACRE                   458
NUMBER                         447
PLANTS / ACRE                  392
EARS / ACRE                    364
PODS / 18 SQ FT                344
CWT / NET PLANTED ACRE         294
INCHES / ROW                   252
HILLS / ACRE                   195
HEAD / SQ FT                   140
LBS / BOX                      104
$, ON TREE EQUIV                77
BOLLS / 40 FEET OF ROW          68
LB / LB                         52
TONS, DRY BASIS                 48
TON                             44
GALLONS / BOX                   30
$, FOB                          20
Name: count, dtype: int64

In [19]:
crop_df['COMMODITY_DESC'].value_counts()

COMMODITY_DESC
WHEAT             2779167
CORN              1227535
HAY               1212235
SOYBEANS           639534
BARLEY             542590
SORGHUM            512214
OATS               483846
COTTON             322760
BEANS              217569
POTATOES           151872
TOBACCO            135283
SUNFLOWER          119076
RYE                 91032
PEANUTS             86292
TOMATOES            84721
SQUASH              84523
MELONS              84152
PEACHES             83475
PEAS                81501
PEARS               79486
PECANS              76614
LETTUCE             72819
SWEET CORN          72047
PEPPERS             70976
APPLES              69871
BLUEBERRIES         65083
GRAPES              57351
SUGARBEETS          53567
ONIONS              50073
CUCUMBERS           47301
CHERRIES            46182
RICE                45824
CABBAGE             44996
RASPBERRIES         40936
PUMPKINS            40169
STRAWBERRIES        38766
BLACKBERRIES        35338
PLUMS & PRUNES      33682
SWEET POTATOES      29898
CARROTS             23397
BROCCOLI            23368
BEETS               23146
EGGPLANT            21574
ASPARAGUS           21315
GARLIC              20986
SPINACH             17796
ORANGES             16221
APRICOTS            14718
CAULIFLOWER         14150
SUGARCANE           11073
GRAPEFRUIT           5069
LEMONS               4286
Name: count, dtype: int64

In [22]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7704497 entries, 0 to 7704496
Data columns (total 58 columns):
 #   Column                    Dtype
---  ------                    -----
 0   COMMODITY_DESC            object
 1   STATISTICCAT_DESC         object
 2   UNIT_DESC                 object
 3   SHORT_DESC                object
 4   LOCATION_DESC             object
 5   YEAR                      float64
 6   VALUE                     object
 7   state                     object
 8   year                      int64
 9   Q1_cloud_cover.afternoon  float64
 10  Q2_cloud_cover.afternoon  float64
 11  Q3_cloud_cover.afternoon  float64
 12  Q4_cloud_cover.afternoon  float64
 13  Q1_humidity.afternoon     float64
 14  Q2_humidity.afternoon     float64
 15  Q3_humidity.afternoon     float64
 16  Q4_humidity.afternoon     float64
 17  Q1_precipitation.total    float64
 18  Q2_precipitation.total    float64
 19  Q3_precipitation.total    float64
 20  Q4_precipitation.total    float64
 21  Q1_pressure.afternoon     float64
 22  Q2_pressure.afternoon     float64
 23  Q3_pressure.afternoon     float64
 24  Q4_pressure.afternoon     float64
 25  Q1_temperature.afternoon  float64
 26  Q2_temperature.afternoon  float64
 27  Q3_temperature.afternoon  float64
 28  Q4_temperature.afternoon  float64
 29  Q1_temperature.evening    float64
 30  Q2_temperature.evening    float64
 31  Q3_temperature.evening    float64
 32  Q4_temperature.evening    float64
 33  Q1_temperature.max        float64
 34  Q2_temperature.max        float64
 35  Q3_temperature.max        float64
 36  Q4_temperature.max        float64
 37  Q1_temperature.min        float64
 38  Q2_temperature.min        float64
 39  Q3_temperature.min        float64
 40  Q4_temperature.min        float64
 41  Q1_temperature.morning    float64
 42  Q2_temperature.morning    float64
 43  Q3_temperature.morning    float64
 44  Q4_temperature.morning    float64
 45  Q1_temperature.night      float64
 46  Q2_temperature.night      float64
 47  Q3_temperature.night      float64
 48  Q4_temperature.night      float64
 49  Q1_wind.max.direction     float64
 50  Q2_wind.max.direction     float64
 51  Q3_wind.max.direction     float64
 52  Q4_wind.max.direction     float64
 53  Q1_wind.max.speed         float64
 54  Q2_wind.max.speed         float64
 55  Q3_wind.max.speed         float64
 56  Q4_wind.max.speed         float64
 57  is_future                 int64
dtypes: float64(49), int64(2), object(7)
memory usage: 3.3+ GB

In [24]:
merged_df.isnull().sum()

COMMODITY_DESC              47
STATISTICCAT_DESC           47
UNIT_DESC                   47
SHORT_DESC                  47
LOCATION_DESC               47
YEAR                        47
VALUE                       47
state                        0
year                         0
Q1_cloud_cover.afternoon     0
Q2_cloud_cover.afternoon     0
Q3_cloud_cover.afternoon     0
Q4_cloud_cover.afternoon     0
Q1_humidity.afternoon        0
Q2_humidity.afternoon        0
Q3_humidity.afternoon        0
Q4_humidity.afternoon        0
Q1_precipitation.total       0
Q2_precipitation.total       0
Q3_precipitation.total       0
Q4_precipitation.total       0
Q1_pressure.afternoon        0
Q2_pressure.afternoon        0
Q3_pressure.afternoon        0
Q4_pressure.afternoon        0
Q1_temperature.afternoon     0
Q2_temperature.afternoon     0
Q3_temperature.afternoon     0
Q4_temperature.afternoon     0
Q1_temperature.evening       0
Q2_temperature.evening       0
Q3_temperature.evening       0
Q4_temperature.evening       0
Q1_temperature.max           0
Q2_temperature.max           0
Q3_temperature.max           0
Q4_temperature.max           0
Q1_temperature.min           0
Q2_temperature.min           0
Q3_temperature.min           0
Q4_temperature.min           0
Q1_temperature.morning       0
Q2_temperature.morning       0
Q3_temperature.morning       0
Q4_temperature.morning       0
Q1_temperature.night         0
Q2_temperature.night         0
Q3_temperature.night         0
Q4_temperature.night         0
Q1_wind.max.direction        0
Q2_wind.max.direction        0
Q3_wind.max.direction        0
Q4_wind.max.direction        0
Q1_wind.max.speed            0
Q2_wind.max.speed            0
Q3_wind.max.speed            0
Q4_wind.max.speed            0
is_future                    0
dtype: int64

In [21]:
merged_df['LOCATION_DESC'].value_counts()

LOCATION_DESC
TEXAS             584861
KANSAS            389275
NEBRASKA          380718
NORTH DAKOTA      313833
MONTANA           308402
SOUTH DAKOTA      294703
VIRGINIA          256570
GEORGIA           250639
NORTH CAROLINA    244427
MINNESOTA         242487
OKLAHOMA          220309
COLORADO          217607
KENTUCKY          215542
MISSOURI          208978
CALIFORNIA        205304
WISCONSIN         205072
ILLINOIS          199888
MICHIGAN          198373
PENNSYLVANIA      188273
IOWA              182389
IDAHO             181540
OHIO              179034
TENNESSEE         167420
INDIANA           164920
OREGON            149112
WASHINGTON        146501
NEW YORK          143401
ARKANSAS          132042
MISSISSIPPI       130322
ALABAMA           129858
SOUTH CAROLINA    113500
LOUISIANA          98158
WYOMING            96795
UTAH               89562
NEW MEXICO         85666
FLORIDA            77237
MARYLAND           64246
NEW JERSEY         47528
ARIZONA            43331
DELAWARE           24689
NEVADA             23174
MAINE              22744
MASSACHUSETTS      19790
VERMONT            17510
CONNECTICUT        13467
NEW HAMPSHIRE      13366
RHODE ISLAND        7079
HAWAII              7053
ALASKA              6407
WEST VIRGINIA       1348
Name: count, dtype: int64

In [18]:
merged_df['COMMODITY_DESC'].value_counts()

COMMODITY_DESC
WHEAT             1824132
HAY                951493
CORN               906512
SOYBEANS           500103
SORGHUM            330763
OATS               328467
BARLEY             318188
COTTON             232796
BEANS              193090
POTATOES           120422
SUNFLOWER          108778
TOBACCO             96733
TOMATOES            84589
SQUASH              84523
MELONS              84152
PEACHES             83475
PEARS               79486
PEAS                77582
PECANS              76614
LETTUCE             72819
PEPPERS             70976
SWEET CORN          69438
APPLES              69151
BLUEBERRIES         65083
PEANUTS             62400
RYE                 61777
GRAPES              57351
ONIONS              50073
CUCUMBERS           47301
CHERRIES            46182
CABBAGE             44996
RASPBERRIES         40936
PUMPKINS            40169
SUGARBEETS          39204
STRAWBERRIES        38766
BLACKBERRIES        35338
RICE                34060
PLUMS & PRUNES      33682
SWEET POTATOES      27869
CARROTS             23397
BROCCOLI            23368
BEETS               23146
EGGPLANT            21574
ASPARAGUS           21315
GARLIC              20986
SPINACH             17796
ORANGES             15720
APRICOTS            14718
CAULIFLOWER         14150
SUGARCANE            9808
GRAPEFRUIT           4805
LEMONS               4198
Name: count, dtype: int64

In [25]:
crop_weather_df = merged_df.dropna()
crop_weather_df.isnull().sum()

COMMODITY_DESC              0
STATISTICCAT_DESC           0
UNIT_DESC                   0
SHORT_DESC                  0
LOCATION_DESC               0
YEAR                        0
VALUE                       0
state                       0
year                        0
Q1_cloud_cover.afternoon    0
Q2_cloud_cover.afternoon    0
Q3_cloud_cover.afternoon    0
Q4_cloud_cover.afternoon    0
Q1_humidity.afternoon       0
Q2_humidity.afternoon       0
Q3_humidity.afternoon       0
Q4_humidity.afternoon       0
Q1_precipitation.total      0
Q2_precipitation.total      0
Q3_precipitation.total      0
Q4_precipitation.total      0
Q1_pressure.afternoon       0
Q2_pressure.afternoon       0
Q3_pressure.afternoon       0
Q4_pressure.afternoon       0
Q1_temperature.afternoon    0
Q2_temperature.afternoon    0
Q3_temperature.afternoon    0
Q4_temperature.afternoon    0
Q1_temperature.evening      0
Q2_temperature.evening      0
Q3_temperature.evening      0
Q4_temperature.evening      0
Q1_temperature.max          0
Q2_temperature.max          0
Q3_temperature.max          0
Q4_temperature.max          0
Q1_temperature.min          0
Q2_temperature.min          0
Q3_temperature.min          0
Q4_temperature.min          0
Q1_temperature.morning      0
Q2_temperature.morning      0
Q3_temperature.morning      0
Q4_temperature.morning      0
Q1_temperature.night        0
Q2_temperature.night        0
Q3_temperature.night        0
Q4_temperature.night        0
Q1_wind.max.direction       0
Q2_wind.max.direction       0
Q3_wind.max.direction       0
Q4_wind.max.direction       0
Q1_wind.max.speed           0
Q2_wind.max.speed           0
Q3_wind.max.speed           0
Q4_wind.max.speed           0
is_future                   0
dtype: int64

In [26]:
zip_gz(crop_weather_df, "../data/crop_weather_data.gz")